<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form action="?">
	<h1 style="text-align: center;" th:text="${title}"></h1>
		<div class="keiyakumenu">
			<input type="submit" class="newkeiyaku" formaction="MitunoriNoSearchedit" value="見積No検索"><br>
			<input type="submit" class="hokan" formaction="Shinki" value="新規登録"><br>
			<input type="submit" class="partner" formaction="ShoruiEntrybpchuumon" value="BP向け注文書作成"><br>
			<input type="submit" class="partner" formaction="ShoruiEntrybpsikyu" value="BP向け請求書作成"><br>

		</div>
		<div class="button-area">
			<input type="button" class="back" onclick="history.back()" value="戻る">
		</div>
</form>
</body>