<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1 style="text-align: center;"th:text="${title}"></h1>
	<form>
	<div class="login">
			<label for="mailaddress">メールアドレス　　　　　　</label>
			<input type="text" id="mailaddress"><br>
			<label for="mailaddress">現在のパスワード　　　　　</label>
			<input type="password"><br>
			<label for="mailaddress">新しいパスワード　　　　　</label>
			<input type="password"><br>
			<label for="mailaddress">新しいパスワード（確認用）</label>
			<input type="password"><br>
	</div>
	
	<div class="button-area">
			<input type="button" class="loginbutton" th:onclick="location.href='/'" value="更新">
			<input type="button" class="back" onclick="history.back()" value="戻る">
		</div>
	</form>
</body>
</html>