<!DOCTYPE html>
<html>
<head>
	<title>契約検索</title>
	<link rel="stylesheet" href="backup/style.css" type="text/css">
</head>
<body>
	<script type="text/javascript">
	function closeWin() {
	    open('about:blank', '_self').close();
	}
	</script>
	<form>
		<div class="reason-area">
			差戻し理由<br>
			<textarea cols="60" rows="10"></textarea>
		<div class="reason-area">
		<div class="button-area">
			<input type="button" class="search" onclick="closeWin();" value="差戻し">
		</div>
	</form>
</body>
</html>